.btn,
.btn:link,
.btn:visited {
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 4rem;
  position: relative;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: #c2bb00;
  color: white;

  &::after {
    background-color: #c2bb00;
  }
}

.btn-secondary {
  background-color: #e1523d;
  color: white;

  &::after {
    background-color: #e1523d;
  }
}
